.title {
    color: sandybrown;
    background-image: url(https://images.pexels.com/photos/616484/pexels-photo-616484.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    height: 250px;
    width: 1000px;
    padding: 90px;
    margin: 20px auto;
}

.items {
    height: 450px;
    width: 750px;
    padding: 40px;
    border-radius: 25px;
    
}
.imgpic {
    margin-top: 5px ;
}
.dir {
    height: 450px;
    width: 750px;
    padding: 40px;
    background-color: sandybrown;
    border-radius: 25px;
    margin-top: 20px;
}
.close{
    text-align: center;
}